<ul class="navbar">
  <li><a href="/">HOME</a></li>
  <li><a href="/players">PLAYERS</a></li>
  <li><a href="/teams">TEAMS</a></li>
  <li><a href="/teams/new">NEW TEAM</a></li>
  <li><a class ="logout" href="#">LOGOUT</a></li>
</ul>
