li {
  list-style-type: none;
}

.title {
  position: relative;
  margin: auto;
  top: 100px;
  width: 200px;
  color: white;
  font-family: 'armalite_rifleregular';
  background-color: black;
  font-size: 35px;
  font-family: arial;
}

.player-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.team-player-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.playerlist li {
  margin: 0 auto;
  padding: 0;
}

.playerpic {
  height: 100px;
  width: 140px;
}

.player-div {
  background-color: white;
  width: 150px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 10px;
  display: inline-block;
}

.team-player-div {
  border: 3px solid black;
  border-radius: 10px;
}

.navbar {
  padding-left: 22px;
  width: 100%;

  background-color: black;
  position: relative;
  font-family: monospace;
  height: 55px;
}

.navbar li {
  list-style-type: none;
  margin: 0;
  display: inline;
  line-height: 55px;
}

.navbar a {
  color: white;
  font-size: 22px;
  font-family: arial;

  display: inline;
  padding: 12px;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}

.teamname {
  font-weight: bold;
  font-size: 25px;
}

.player-name {
  font-weight: bold;
}

.buy-player {
  font-weight: bold;
}

.budget-container {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin: auto;
  font-family: arial black;
  top: 11px;
}

.edit-div {
  display: inline-block;;
}

.main-container {
  position: relative;
  width:100%;
  height: 700px;
  background-image: url('https://images.unsplash.com/reserve/sfwmAkieTSyeToJZqfKV_IMG_9840%20BW.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5e46b2e862a43bee956101bc09a4f0b');
  background-size: cover;
}
