<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <%- include ../partials/nav.html.ejs %>
  <body>
    <div class="main-container">
      <div class="title">
        NBA BLACKTOP 2015-2016
      </div>
    </div>
  </body>
</html>
