<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="homebody">
    <%- include ../partials/nav.html.ejs %>
    <div class="main-container">
      <div class="title">
        FANTASY BASKETBALL C.R.U.D. EDITION
      </div>
      <div class="title2">
        <p>Click on 'LOGIN' to signup/signin!</p>
      </div>
      <div class="title2">
        <p>Click on 'NEW TEAM' to get started!</p>
      </div>
    </div>
  </body>
</html>
