<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <body class="loginbody">
    <%- include ../partials/nav.html.ejs %>
    <div class="login-div">
      <h1>Sign Up</h1>
      <form class="login" action="/users" method="POST">
        <div>
          <label for="email">E-mail: </label>
          <input type="email" name="email">
        </div>

        <div>
          <label for="password">Password: </label>
          <input type="password" name="password">
        </div>

        <input type="submit" value="Submit">
      </form>
      <h1>Log In</h1>
      <form class="login" action="/users/login" method="POST">

        <div>
          <label for="email">E-mail: </label>
          <input type="email" name="email">
        </div>

        <div>
          <label for="password">Password: </label>
          <input type="password" name="password">
        </div>

        <input type="submit" value="Submit">

      </form>
    </div>
    <div class="poster-div">
      <img class="poster" src="images/posters/1e0f2bd75fa6ebd38d6e859d5ad9b366_crop_north.jpg">
      <img class="poster" src="images/posters/130123094607-kevin-durant-dunk-lamar-odom-012313.1200x672.jpg">
      <img class="poster" src="images/posters/hi-res-f9bc8d296bafb44763979e23aa1d8128_crop_north.jpg">
      <img class="poster" src="images/posters/lebron-james-cavaliers-celtics-game-3-first-round.jpg">
      <img class="poster" src="images/posters/vdMZbyr.jpg">
    </div>
  </body>

</html>
