<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Team</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="newteambody">
    <%- include ../partials/nav.html.ejs %>
    <div class="newteamtitle">
      <h1>CREATE YOUR TEAM</h1>
    </div>
    <div class="newteamform">
      <form class="new-team-form" action="/teams" method="post">
        <label for="name">NAME:</label>
        <input type="text" name="name">
        <input class="newteamsubmit" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
